{% extends "backoffice/base.html" %}
{% load i18n %}
{% block body %}
    <p>
        <h2>{% translate "Season" %}: {{ season.name }}</h2>
    </p>
    <div class="row">
        <div class="col-md-6 col-12">
            <h4>{% translate "Quizzes" %}</h4>
            <div class="list-group">
                {% for quiz in season.quizzes.all %}
                    <a class="list-group-item list-group-item-action{% if season.active_quiz == quiz %} active{% endif %}"
                       href="{% url "backoffice:quiz" quiz %}">{{ quiz.name }}</a>
                {% empty %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 col-12">
            <h4>{% translate "Candidates" %}</h4>
            <ul>
                {% for candidate in season.candidates.all %}<li>{{ candidate.name }}</li>{% endfor %}
            </ul>
        </div>
    </div>
{% endblock body %}
